
.viewPageD{
    width:65%;
    margin-top: 100px;
    margin-left: 50px;
    margin-right:50px;
}

.viewPhotoD{
    width: 50%;
    height: 50%;
    object-fit:cover;
    border-radius: 10px;
    margin-bottom: 20px;
    display:flex;
    justify-content:center;
    
}
.ratingTitleD{
    margin-top: 5px;
    margin-bottom: 100px;
}