
.viewPage{
    
    width:65%;
    margin-top: 100px;
    margin-left: 50px;
    margin-right:50px;
}

.viewPhoto{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 10px;
    margin-bottom: 20px;
    display:flex;
    justify-content:center;
    
}
.ratingTitle{
    margin-top: 5px;
    margin-bottom: 100px;
}